$defaultBg: rgb(240, 240, 240);
$white: rgb(255, 255, 255);
$gray: #606266;
$black: #000;
$normal-fontsize: 16px;
$larger-fontsize: 18px;
$more-larger-fontsize: 20px;
$smaller-fontsize: 14px;
$more-smaller-fontsize: 12px;
